@model layout01.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Name and Price</h2>
        The product name is @Model.Name and it costs @Model.Price
    </div>
</body>
</html>
