* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
}

footer {
    margin-top: 4rem;
    clear: both;
    position: fixed;
    bottom: 2%;
    width: 100%;
}

div.links {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 1px solid grey;
}

a {
    flex: 1 1 25%;
}

div.links div {
    width: 48px;
    height: 51.8px;
    margin: 1em auto;
}

div#l1 {
    background-image: url("../images/sprite.png");
    background-position: -288px -51.8px;
}

div#l2 {
    background-image: url("../images/sprite.png");
    background-position: -240px -207.2px;
}

div#l3 {
    background-image: url("../images/sprite.png");
    background-position: -192px -0px;
}

div#l4 {
    background-image: url("../images/sprite.png");
    background-position: -192px -51.8px;
}

div#l5 {
    background-image: url("../images/sprite.png");
    background-position: -432px -103.6px;
}

div#l6 {
    background-image: url("../images/sprite.png");
    background-position: -336px -207.2px;
}