* {
    box-sizing: border-box;
}
div {
    position:absolute;
}
div:nth-of-type(1) {
    top:40px;
    left:60px;
    width: 200px;
    height: 100px;
    background-color: rgb(255,255,0);
}
div:nth-of-type(2) {
    top: 180px;
    left: 200px ;
    width: 100px;
    height: 200px;
    background-color: rgb(255,128,0);
}
div:nth-of-type(3) {
    top: 80px;
    left: 140px ;
    width: 100px;
    height: 200px;
    background-color: rgb(255,0,0);
}
