@using repaso02.Models
@model Producto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.TextBoxFor(m => m.NombreProducto, null, new { id = "caja1", @class = "textoGordo" })
        <br />
        @Html.TextBoxFor(m => m.NombreProducto)
        <br />
        @Html.DropDownListFor(m => m.) 
    </div>
</body>
</html>
