/*position relative, ahí está el problema*/

*,
*::before,
*::after,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2em auto;
    font-family: Open Sans;
}


/*Cabecera - Título*/

h1 {
    background: linear-gradient(90deg, #333333, #ffffff);
    color: white;
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
}


/*Cabecera - Menú*/

ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

li {
    display: block;
    float: left;
    width: 20%;
    background-color: grey;
    border: 1px solid black;
    padding: 1em 0.5em 1em 0.5em;
    text-align: center;
    /*margin: 0.5em;*/
    border-radius: 0.5em 0.5em 0 0;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    transition: color 0.15s ease-in-out;
    color: white;
    position: relative;
}

li:hover {
    background-color: white;
    border-bottom-color: white;
    font-weight: bold;
    color: black;
    cursor: pointer;
    position: absolute;
}

li.withSubItems:hover {
    border: 1px solid black;
    /*border-radius: 0.5em 0.5em 1em 1em;*/
    border-radius: 1em;
    padding-bottom: 1.8em;
}

ul ul {
    display: none;
}

li:hover>ul {
    display: block;
}

ul ul li {
    /*position: relative;*/
    top: 1.2em;
    float: none;
    width: 100%;
    border-radius: 0;
    padding: 0.7em;
}

ul ul li:hover {
    border: 1px solid black;
}

ul ul li:nth-of-type(1) {
    border-radius: 0.5em 0.5em 0 0;
}

ul ul li:last-of-type {
    border-radius: 0 0 0.5em 0.5em;
}

div.separator {
    /*position: relative;
    top: 2em;
    background: linear-gradient(90deg, #333333, #ffffff);
    height: 10em;
    width: 100%;*/
    clear: both;
}


/*Cuerpo de la página*/


/*div.mainContainer {
    position: relative;
    z-index: -1;
}*/


/*Sección principal*/

section.main {
    float: left;
    width: 70%;
    padding-right: 2em;
}


/*Zona lateral*/

aside.rightAside {
    float: right;
    width: 30%;
}


/*Pié de página*/

footer {
    clear: both;
    margin-top: 3em;
}