body {
    width: 80%;

    article {
        background-color: blue;

        p {
            font-size: 0.8em; /*En sass se pueden anidar elemenos. En css aparecerá escrito en el formato css una vez compilemos*/
        }
    }

}