@using exercise0802.Models
@model List<Fotografo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Eventos</h2>
        <table border="1">
            @foreach (Fotografo f in Model)
            {
                decimal sumatorio = 0;
                <tr>
                    <td align="center">
                        <b>@f.NombreApell</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="1">
                            @if(f.eventos != null)
                            {
                                foreach (var e in f.eventos)
                                {
                                    sumatorio += e.Importe;
                                    <tr>
                                        <td>@e.Descripcion</td>
                                        <td>@e.Fecha.ToShortDateString()</td>
                                        <td>@e.Importe/td>
                                    </tr>
                                }
                            }
                            <tr><td>total: @sumatorio €</td></tr>
                            }
                            else
                            {
                            @ 
                            }
                        </table>
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
