body {
            width: 90%;
            margin: 3em auto;
		}
        header {
            width: 100%;
            margin: 2em auto;
            padding: 0px;
            text-align: center;

            color: rgb(116, 64, 64);
            text-shadow: 3px 3px 3px rgb(177, 147, 147);
        }
        article {
            width: 100%;
            margin: 2em auto;
            padding: 0px;
            overflow: auto;
        }
        figure {
            padding: 0.5em 1%;
            margin: 1em 2%;
            width: 26.9%;
            float: left;
            border: 1px solid black;
            box-shadow: 5px 5px 5px 3px rgb(116, 64, 64);
        }
        figcaption {
            height: 2em;
            overflow: hidden;
            
        }
        img {
            /*display: block;*/
            width: 100%;
            margin: 0px;
            padding: 0px;
        }