
@{
    ViewBag.Title = "Index";
    Layout = "~/_LayoutPage1.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Gestión de Barcos", "Index", "Barco")<br />
@Html.ActionLink("Gestión de Tripulantes", "Inicio", "Tripulante")<br />

