body {
    margin: 3em 9em;      
}
header {
    width: 45%;
    margin: 2em auto 4em auto;
    padding: 2em 1em;
    background-color: maroon;
    color: white;
    color: beige;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px silver;
    }
 footer {
    margin-top:  2em;
    padding-top: 1em;
    border-top: solid 1px silver;
    color: maroon;
    }
    footer address, footer p {
        margin-top: 0.3em; 
    }
 header, footer {
    text-align: center;
    }

article {
    width: 60%;
    margin: 0em auto;
    overflow: auto;
}
article h2 {
    text-align: center;
}
figure {
    width: 300px;
    margin: 0em auto;
    
}
img {
}

button#back{ float: left;}
button#next{ float: right;}
button {
    border: 1px solid gray;
	border-radius: 24px;
    background-image: linear-gradient(to bottom, rgba(252,252,252,0.5), rgba(247,247,247,0.5) 3%, rgba(242,242,242,0.5) 12%, rgba(217,217,217,0.5) 90%, rgba(191,191,191,0.5));
}


