@using GridMvc.Html
@model List<Practica7._1.Models.Barco>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tabla</title>
</head>
<body>
    <div> 
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(b => b.NombreBarco).Titled("Nombre del Barco").Sortable(true).SetWidth(110);
       columns.Add(b=>b.AñoConstruccion).Sortable(true);
   }).WithPaging(20)
    </div>
</body>
</html>
