* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
}

h1 {
    color: #404040;
}

h2 {
    padding: 0em 0em 0.8em 0em;
    color: #737373;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

article {
    margin: 1em;
}

div {
    width: 100%;
    /*display: table;*/
    overflow: hidden;
}

figure {
    /*display: table-cell;*/
    width: 20%;
    margin: 2%;
    padding: 1em;
    box-shadow: 10px 10px 5px #737373;
    float: left;
    border: 1px solid #e6e6e6
}

img {
    width: 100%;
}

footer {
    margin-top: 4rem;
    clear: both;
}