*,
*::before,
*::after,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2em auto;
    font-family: Open Sans;
}


/*Cabecera*/

h1 {
    background: linear-gradient(90deg, #333333, #ffffff);
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
}


/*Cuerpo principal*/

section {
    margin: 3em 0;
}


/*Barra de progreso*/

progress {
    width: 400px;
    display: none;
}

progress.onscreen {
    display: block;
}

input {
    margin: 2em;
}


/*Pié de página*/

footer {
    clear: both;
    margin-top: 3em;
}