h1 {
    font-family: Amatic SC;
    font-size: 3em;
}
p {
    font-family: Montserrat;
    font-size: 1em;
}
p:nth-of-type(2) {
    font-family: Raleway;
    font-size: 100%;
}
p:nth-of-type(2)::first-line {
    font-size: 1.1em;
}
p:nth-of-type(2)::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}
span.author {
    font-weight: bold;
    text-decoration: underline;
    color:blue;
}
q,span:lang(fr), span:lang(en) {
    font-style: italic;
}
q {
    quotes: "\201C" "\201D";
    color:green;
}
footer {
    font-size: small;
}