* {
    box-sizing: border-box;
}

body {
    width: 85%;
    margin: 100px 100px;
    background-color: #E8E8E8;
}

div {
    padding: 1.7em 2em;
    width: 33%;
    min-width: 100px;
    margin: 2em 0em 0em 0em;
    border-style: solid;
    border-radius: 0.8em;
    border-width: 5px;
    background-color: white;
    font-family: Montserrat;
    line-height: 2em;
}

img {
    margin-left: 50px;
}

p {
    margin: 20px;
    padding: 5px;
    text-indent: 25px;
}

ul {
    padding: 10px;
    list-style-position: inside;
    border-style: solid;
    border-width: 1px;
}