@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ciudad</title>
</head>
<body>
    <div>
        Bonita Ciudad @Model
    </div>
</body>
</html>
