@using exercise03-2-prof.Models
@model List<Alumno>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarAlumnos</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>@if (!ViewBag.NoTrabajan)
                { <th>TRABAJA</th> }
                <th>Nota</th>                
            </tr>
            @foreach (Alumno a in Model)
            {
                <tr>
                    <td>@a.Nombre</td>
                    <td>@a.Edad</td>
                    <td></td>
                    <td>@a.Nota</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
