
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Aplicación sobre Buques
        <h2>Index</h2>
        @Html.ActionLink("Gestión de Barcos", "Index", "Ship")<br />
        @Html.ActionLink("Gestión de Tripulantes", "Index", "Crewman")<br />
    </div>
</body>
</html>
