@Html.Grid

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h3>Llamada a la tipada</h3>
        @Html.Partial("MyPartialStrong", new[] {"Apple", "Orange", "Pear"})

        @Html.Action("Time")
    </div>
</body>
</html>
