@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <div>El controlador es: @ViewBag.Controller</div>
        <div>El método es: @ViewBag.Action</div>

    </div>
</body>
</html>
