<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="background-color:aliceblue">
        <h1>Aplicación sobre Buques Comerciales</h1>
        @RenderBody()
    </div>
</body>
</html>
