@model Combos.Models.ComboCitiesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@* primera forma : El nombre de parámetro y el del viewbag es el mismo *@
    @*
    @using (Html.BeginForm())
    {
        @Html.DropDownList("Cities","-Elija Ciudad-")
        <input type="submit" value="Submit"/>
    }
*@

@*El nombre usado “Cities” es el nombre del campo usado en el ViewBag y donde se encuentra la lista de SelectListItem.
La combo generada tendrá un atributo name llamado Cities y esto es importante a la hora de recibir el valor seleccionado de la combo.
Hay una gran confusión en esto. Una combo envia UN SOLO ELEMENTO al controlador: El ID del elemento seleccionado.*@


@* segunda forma :los nombres son distintos *@

@**@

    @using (Html.BeginForm())
    {
        @Html.DropDownList("selectedCity", ViewBag.Cities as IEnumerable<SelectListItem>)
        <input type="submit" value="Submit"/>
    }
@* Con esto le estamos diciendo que nos genere un <select> cuyo atributo Nombre valga “selectedCity” y que los datos están en ViewBag.Cities *@

@*DropDownlistFor


    @using (Html.BeginForm())
    {
        @Html.DropDownListFor(m=>m.SelectedCity, new SelectList(Model.Cities, "Id", "Nombre"))
        <input type="submit" value="Submit" />
    }
*@  